//*BIG SCREEN
@media screen and (min-width: $media-big-screen) {
  .heading-secondary {
    &--big-screen {
      font-size: 3.4rem !important;
    }
  }

  .home-page.header {
    &__box--images {
      &--big-screen {
        @media screen and (min-width: $media-big-screen) {
          flex: 0 0 35% !important;
        }
      }
    }

    &__box--text {
      &--big-screen {
        @media screen and (min-width: $media-big-screen) {
          flex: 0 0 65% !important;
        }
      }
    }
  }
}

//*TABLET
