//COLORS:
$color-main-black: #12141d;
$color-main-green: #38f094;
$color-main-coral: #ff715b;

$color-grey-1: #dbdfe4;
$color-grey-2: #697077;
$color-grey-3: #8b929a;
$color-grey-light-1: #d4dae1;
$color-grey-light-2: #eff0f2;
$color-grey-light-3: #f7f8f9;
$color-grey-dark: #3a3c45;

$color-modal-background: #12141d;

//GRID
$grid-gap-large: 58px;
$grid-gap-medium: 20px;
$grid-gap-icon-box: 34px;

//FLEX
$flex-gap-small: 10px;
$flex-gap-medium: 24px;

//SIZE
$width-navigation-icon: 40px;
$height-navigation-icon: 40px;

//PADDING
$section-padding-top: 56px;

//MEDIA QUERIES
$media-big-screen: 1600px; // 1600 / 16
$media-desktop: 1440px; // 1440 / 16
$media-tablet: 768px; //768 / 16
$media-phone: 390px; //390 / 16
