//COLORS:
$color-main-black: #12141d;
$color-main-green: #38f094;

$color-grey-1: #dbdfe4;
$color-grey-2: #697077;
$color-grey-3: #8b929a;
$color-grey-light-1: #d4dae1;
$color-grey-light-3: #f7f8f9;
$color-grey-dark: #3a3c45;

//FONT

//GRID
$grid-gap-large: 5.8rem;
$grid-gap-medium: 2rem;

//FLEX
$flex-gap-medium: 2.4rem;

//SIZE
$width-navigation-icon: 4rem;
$height-navigation-icon: 4rem;

//PADDING
$section-padding-top: 5.6rem;
