//COLORS:
$color-main-black: #12141d;
$color-main-green: #38f094;

$color-grey-3: #8b929a;
$color-grey-dark: #3a3c45;

//FONT

//GRID

//SIZE
$width-navigation-icon: 4rem;
$height-navigation-icon: 4rem;
