.box {
  display: flex;
  width: 100%;

  &--gap-medium {
    gap: $flex-gap-medium;
  }

  &--column {
    flex-direction: column;
  }

  &--baseline-align {
    align-items: baseline;
  }

  &--vertical-align {
    align-items: center;
  }

  &--padding-top {
    padding-top: 3.2rem;
  }
}
