.box {
  display: flex;
  width: 100%;

  &--gap-small {
    gap: $flex-gap-small;
  }

  &--gap-medium {
    gap: $flex-gap-medium;
  }

  &--gap-icon-box {
    gap: $grid-gap-icon-box;
  }

  &--column {
    flex-direction: column;
  }

  &--baseline-align {
    align-items: baseline;
  }

  &--vertical-align {
    align-items: center;
  }

  &--justify-content-end {
    justify-content: flex-end;
  }

  &--justify-content-space-beetwen {
    justify-content: space-between;
  }

  &--padding-top {
    padding-top: 3.2rem;
  }
}
