.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 2.4rem;

  &__image-box {
    display: flex;
    align-items: center;
    margin-right: 6.8rem;
  }

  &__image {
    width: 100%;

    &--first {
      max-width: 9.6rem;
      margin-right: -6.4rem;
    }
    &--second {
      max-width: 12rem;
      margin-right: -6.4rem;
    }
    &--third {
      min-width: 19.6rem;
      border-radius: 5px;
    }
  }
}
