.navigation {
  position: fixed;
  z-index: 1001;
  flex: 0 0 6%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: 32px 20px;

  background-color: $color-main-black;

  &__nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  &__btn {
    &:link,
    &:visited {
      display: flex;
      justify-content: center;
      align-items: center;
      width: $width-navigation-icon;
      height: $height-navigation-icon;
      border: 1.5px solid $color-grey-dark;
      border-radius: 50%;
      color: $color-grey-3;
      transition: all 200ms;
      cursor: pointer;
    }

    &--active:link,
    &--active:visited {
      color: $color-main-black;
      background-color: $color-main-green;
    }

    &:hover,
    &:active {
      color: $color-main-black;
      background-color: $color-main-green;
    }

    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }
}

#navigation__btn--first {
  &:hover {
    background-color: transparent;
  }

  position: relative;
  margin-bottom: 48px;

  &::after {
    content: "";
    position: absolute;
    bottom: -24px;
    display: inline-block;
    width: 100%;
    height: 1px;
    background-color: $color-grey-dark;
  }
}

#navigation__btn--last {
  position: relative;
  margin-top: 48px !important;

  &::before {
    content: "";
    position: absolute;
    top: -24px;
    display: inline-block;
    width: 100%;
    height: 1px;
    background-color: $color-grey-dark;
  }
}

#navigation__btn--menu {
  display: none;
}
