//*TABLET
@media screen and (max-width: $media-desktop) {
  //!BOX
  .details.box {
    flex-direction: column;
    & > .box {
      padding-right: 0px;
      justify-content: space-between;
    }
  }

  //!HEADER
  .details-page.header__image--second {
    max-width: 100px;
  }

  //!MUSO DETAILS
  .details {
    padding-top: 56px;
  }

  .muso-details {
    max-width: 100%;
  }

  //!GALLERY
  .details-page.gallery {
    padding-top: 56px !important;
    margin: 0;

    .grid {
      gap: 22px;
    }
  }
}

//*PHONE
@media screen and (max-width: $media-tablet) {
  //!HEADER
  .details-page.header__image--second {
    max-width: 70px;
    left: 20px;
  }

  //! ABOUT
  .about > {
    .box {
      flex-direction: column;
      gap: 20px;

      .btn--primary {
        min-width: 100%;
        padding: 15px 73px;
        text-align: center;
      }

      .box:last-child {
        justify-content: space-between;
      }
    }

    .text {
      font-size: 12px;
    }
  }

  //! GALLERY
  .details-page.gallery {
    padding-bottom: 20px;

    .grid {
      gap: 5px;
    }
  }
}
