//*TABLET
@media screen and (max-width: $media-desktop) {
  .modal {
    &__content {
      max-width: 460px;
      padding: 16px 40px;
    }

    &__header {
      text-align: center;
    }

    &__dynamic-part {
      margin-bottom: 36px;
    }
  }
}

//*MOBILE
@media screen and (max-width: $media-desktop) {
  .modal {
    &__content {
      height: auto;
      border-radius: 16px;
      max-width: 420px;
      padding: 16px 40px;
      overflow-y: auto;
    }

    &__header {
      text-align: center;
      font-size: 25px;

      .main-heading {
        font-size: 22px;
      }

      .text {
        font-size: 13px !important;
      }
    }

    &__form {
      gap: 14px;
    }

    &__label {
      .text {
        font-size: 12px;
      }
    }

    &__input {
      padding: 8px 16px;
    }

    &__dynamic-part {
      margin-bottom: 36px;
    }
  }
}
@media screen and (max-width: $media-tablet) {
  .modal {
    &__content {
      height: 100%;
      border-radius: 0;
    }
  }
}
