@media screen and (min-width: 100em) {
  .heading-secondary--big-screen {
    font-size: 3.4rem !important;
  }
}
@media screen and (min-width: 100em) and (min-width: 100em) {
  .home-page.header__box--images--big-screen {
    flex: 0 0 35% !important;
  }
}
@media screen and (min-width: 100em) and (min-width: 100em) {
  .home-page.header__box--text--big-screen {
    flex: 0 0 65% !important;
  }
}
/* 
   !Default setup
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1;
  overflow-x: hidden;
}

main {
  padding-left: 6%;
}

img {
  display: block;
}

.main-heading {
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.31;
}

.heading-secondary {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.33;
}
.heading-secondary span {
  display: block;
}

.text {
  font-size: 1.4rem;
  line-height: 1.5;
}
.text--no-wrap {
  white-space: nowrap;
}
.text--font-weight-medium {
  font-weight: 500;
}
.text--font-medium-large {
  font-weight: 600;
}
.text--font-weight-large {
  font-weight: 700;
}
.text--font-size-small {
  font-size: 1.2rem;
}
.text--font-size-large {
  font-size: 1.8rem;
}
.text--color-grey-2 {
  color: #697077;
}

.container {
  display: flex;
  width: 100%;
  margin: 0 auto;
}

.margin-bottom-small {
  margin-bottom: 0.4rem;
}

.margin-bottom-medium {
  margin-bottom: 1.6rem !important;
}

.margin-bottom-large {
  margin-bottom: 2.4rem;
}

.margin-bottom-xxl {
  margin-bottom: 2.8rem;
}

.margin-right-auto {
  margin-right: auto;
}

.margin-left-auto {
  margin-left: auto;
}

.section {
  padding-top: 5.6rem;
}
.section--large-padding-top {
  padding-top: 8.6rem;
}

.border-bottom {
  border-bottom: 1px solid #dbdfe4;
}

.search_panel {
  color: #8b929a;
}
.search_panel__label {
  position: relative;
}
.search_panel__label:not(:last-child) {
  margin-right: 2rem;
}
.search_panel__input {
  padding: 1.3rem 1.6rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.47;
  color: inherit;
  border: 1px solid #dbdfe4;
  border-radius: 6px;
}
.search_panel__input::placeholder {
  color: inherit;
  font-weight: 500;
}
.search_panel__icon {
  position: absolute;
  top: 50%;
  right: 1.5rem;
  transform: translate(0, -50%);
  width: 2rem;
  height: 2rem;
}

.group-box {
  display: flex;
}
.group-box--center-align {
  align-items: center;
}
.group-box--column {
  flex-direction: column;
}
.group-box__image--small-box {
  max-width: 4rem;
  width: 100%;
  border-radius: 50%;
}
.group-box__image--medium-box {
  max-width: 6rem;
  width: 100%;
  border-radius: 50%;
}
.group-box__image--large-box {
  width: 100%;
  border-radius: 6px;
}
.group-box__image--margin-bottom {
  margin-bottom: 1.2rem;
}
.group-box__image--margin-right {
  margin-right: 1.6rem;
}
.group-box__image--grey-background {
  background-color: #d4dae1;
}

.btn {
  display: inline-block;
}
.btn:link,
.btn :visited {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
.btn--primary {
  padding: 1.3rem 10.3rem;
  border-radius: 6px;
  background-color: #ff715b;
}
.btn--color-white {
  color: #fff !important;
}
.btn--color-grey {
  color: #8b929a !important;
}

.icon {
  fill: currentColor;
  width: 1.6rem;
  height: 1.6rem;
}

.gallery__img {
  max-width: 4rem;
  padding: 2px;
  background-image: linear-gradient(#de0046, #f7a34b);
  border-radius: 50%;
}

.muso-details {
  display: flex;
  flex-direction: column;
  max-width: 40%;
}
.muso-details .box {
  padding-bottom: 1.3rem;
  border-bottom: 1px solid #d4dae1;
}
.muso-details .box:not(:first-child) {
  padding-top: 1.3rem;
}

.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 2.4rem;
}
.header__image {
  width: 100%;
  border-radius: 5px;
}

.navigation {
  position: fixed;
  flex: 0 0 6%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: 3.2rem 2rem;
  background-color: #12141d;
}
.navigation__nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.navigation__btn:link, .navigation__btn:visited {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  border: 1.5px solid #3a3c45;
  border-radius: 50%;
  color: #8b929a;
  transition: all 200ms;
  cursor: pointer;
}
.navigation__btn--active:link, .navigation__btn--active:visited {
  color: #12141d;
  background-color: #38f094;
}
.navigation__btn:hover, .navigation__btn:active {
  color: #12141d;
  background-color: #38f094;
}
.navigation__btn:not(:last-child) {
  margin-bottom: 2.4rem;
}
.navigation__btn--first {
  position: relative;
  margin-bottom: 4.8rem !important;
}
.navigation__btn--first:hover {
  background-color: transparent;
}
.navigation__btn--first::after {
  content: "";
  position: absolute;
  bottom: -2.4rem;
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: #3a3c45;
}
.navigation__btn--last {
  position: relative;
  margin-top: 4.8rem !important;
}
.navigation__btn--last::before {
  content: "";
  position: absolute;
  top: -2.4rem;
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: #3a3c45;
}

.main-content {
  padding: 0 4.4rem 2.8rem 4.4rem;
}

.grid {
  display: grid;
}
.grid--large-gap {
  gap: 5.8rem;
}
.grid--medium-gap {
  gap: 2rem;
}
.grid--ultra-small-gap {
  gap: 1px;
}
.grid--one-column {
  grid-template-columns: 1fr;
}
.grid--two-column {
  grid-template-columns: repeat(2, 1fr);
}
.grid--three-column {
  grid-template-columns: repeat(3, 1fr);
}
.grid--four-column {
  grid-template-columns: repeat(4, 1fr);
}
.grid--five-column {
  grid-template-columns: repeat(5, 1fr);
}
.grid--six-column {
  grid-template-columns: repeat(6, 1fr);
}
.grid--seven-column {
  grid-template-columns: repeat(7, 1fr);
}
.grid--eight-column {
  grid-template-columns: repeat(8, 1fr);
}
.grid--two-rows {
  grid-template-rows: repeat(2, 1fr);
}
.grid--three-rows {
  grid-template-rows: repeat(3, 1fr);
}

.box {
  display: flex;
  width: 100%;
}
.box--gap-small {
  gap: 1rem;
}
.box--gap-medium {
  gap: 2.4rem;
}
.box--gap-icon-box {
  gap: 3.4rem;
}
.box--column {
  flex-direction: column;
}
.box--baseline-align {
  align-items: baseline;
}
.box--vertical-align {
  align-items: center;
}
.box--justify-content-end {
  justify-content: flex-end;
}
.box--justify-content-space-beetwen {
  justify-content: space-between;
}
.box--padding-top {
  padding-top: 3.2rem;
}

.home-page.header__box--padding {
  padding-bottom: 2.2rem;
}
.home-page.header__box--images {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
}
.home-page.header__box--text {
  flex: 0 0 60%;
}
.home-page.header__image--first {
  max-width: 9.6rem;
  margin-right: -6.4rem;
}
.home-page.header__image--second {
  max-width: 12rem;
  margin-right: -6.4rem;
}
.home-page.header__image--third {
  max-width: 19.6rem;
}

.home-page__main-content {
  padding: 0 4.4rem 2.8rem 4.4rem;
}

.favorits {
  flex: 0 0 25%;
  display: flex;
  flex-direction: column;
  padding: 4rem 3.2rem 0;
  background-color: #f7f8f9;
}
.favorits__box--pading {
  padding-bottom: 2.6rem;
}

.details-page.header__box--relative {
  position: relative;
}
.details-page.header__box--padding {
  padding-bottom: 2.8rem;
}
.details-page.header__btn {
  margin-right: 1.4rem;
}
.details-page.header__image--second {
  position: absolute;
  bottom: -3rem;
  left: 5rem;
  max-width: 16rem;
}

.details-page.gallery {
  margin-left: 8rem;
}

/*# sourceMappingURL=style.css.map */
