/* 
   !Default setup
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1;
  overflow-x: hidden;
  background-color: #fcfcfd;
}

main {
  padding-left: 80px;
  background-color: #fff;
}

img {
  display: block;
}

.main-heading {
  font-size: 32px;
  font-weight: 500;
  line-height: 1.31;
}
.main-heading span {
  display: block;
}

.heading-secondary {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.33;
}
.heading-secondary span {
  display: block;
}

.text {
  font-size: 14px;
  line-height: 1.5;
}
.text--no-wrap {
  white-space: nowrap;
}
.text--font-weight-medium {
  font-weight: 500;
}
.text--font-medium-large {
  font-weight: 600;
}
.text--font-weight-large {
  font-weight: 700;
}
.text--font-size-small {
  font-size: 12px;
}
.text--font-size-large {
  font-size: 18px;
}
.text--color-grey-2 {
  color: #697077;
}
.text--color-grey-3 {
  color: #8b929a;
}

.container {
  display: flex;
  width: 100%;
  margin: 0 auto;
}

.margin-bottom-small {
  margin-bottom: 4px;
}

.margin-bottom-medium {
  margin-bottom: 16px !important;
}

.margin-bottom-large {
  margin-bottom: 24px;
}

.margin-bottom-xxl {
  margin-bottom: 28px;
}

.margin-right-auto {
  margin-right: auto;
}

.margin-left-auto {
  margin-left: auto;
}

.section {
  padding-top: 56px;
}
.section--large-padding-top {
  padding-top: 86px;
}

.border-bottom {
  border-bottom: 1px solid #dbdfe4;
}

.search_panel {
  color: #8b929a;
}
.search_panel__label {
  position: relative;
}
.search_panel__label:not(:last-child) {
  margin-right: 20px;
}
.search_panel__input {
  padding: 13px 16px;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.47;
  color: inherit;
  border: 1px solid #dbdfe4;
  border-radius: 6px;
}
.search_panel__input::placeholder {
  color: inherit;
  font-weight: 500;
}
.search_panel__icon {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translate(0, -50%);
  width: 20px;
  height: 20px;
}

.group-box {
  display: flex;
}
.group-box--center-align {
  align-items: center;
}
.group-box--column {
  flex-direction: column;
}
.group-box__image--small-box {
  max-width: 40px;
  width: 100%;
  border-radius: 50%;
}
.group-box__image--medium-box {
  max-width: 60px;
  width: 100%;
  border-radius: 50%;
}
.group-box__image--large-box {
  width: 100%;
  border-radius: 6px;
}
.group-box__image--margin-bottom {
  margin-bottom: 12px;
}
.group-box__image--margin-right {
  margin-right: 16px;
}
.group-box__image--grey-background {
  background-color: #d4dae1;
}

.btn {
  display: inline-block;
}
.btn:link,
.btn :visited {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
.btn--primary {
  padding: 13px 103px;
  border-radius: 6px;
  background-color: #ff715b;
}
.btn--color-white {
  color: #fff !important;
}
.btn--color-grey {
  color: #8b929a !important;
}

.icon {
  fill: currentColor;
  width: 16px;
  height: 16px;
}

.gallery {
  flex: 0 0 30%;
}
.gallery__img {
  max-width: 40px;
  padding: 2px;
  background-image: linear-gradient(#de0046, #f7a34b);
  border-radius: 50%;
}
.gallery img {
  width: 100%;
}

.muso-details {
  display: flex;
  flex-direction: column;
  max-width: 40%;
}
.muso-details .box {
  padding-bottom: 13px;
  border-bottom: 1px solid #d4dae1;
}
.muso-details .box:not(:first-child) {
  padding-top: 13px;
}

.date-picker {
  position: relative;
  padding: 10px 60px;
  border: 1px solid #d4dae1;
  border-radius: 6px;
}
.date-picker__icon--right, .date-picker__icon--left {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  cursor: pointer;
}
.date-picker__icon--right {
  right: 17px;
}
.date-picker__icon--left {
  left: 17px;
}

.calendar {
  grid-template-rows: auto repeat(5, 1fr);
  height: 100%;
  padding: 24px 0 24px 0;
  gap: 8px;
}
.calendar__month {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 0;
  border-radius: 8px;
  background-color: #eff0f2;
}
.calendar__month-text {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.6;
}
.calendar__cell {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 16px;
  border: 1px solid #d4dae1;
  border-radius: 6px;
  transition: all 200ms;
}
.calendar__cell::after {
  position: absolute;
  right: 16px;
  bottom: 16px;
  content: "";
  width: 18px;
  height: 20px;
  background-image: url(./img/svg/add-todo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  opacity: 0;
  transition: all 200ms;
}
.calendar__cell:hover {
  background-color: #d4dae1;
}
.calendar__cell:hover::after {
  opacity: 1;
}
.calendar__cell .box {
  position: absolute;
  top: 50%;
  left: 1.6rem;
  transform: translate(0, -50%);
}
.calendar__day {
  align-self: flex-start;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
}
.calendar__day--previous-month {
  color: #8b929a;
}
.calendar__title, .calendar__day {
  color: #697077;
  font-size: 13px;
  line-height: 1.38;
}
.calendar__title {
  font-weight: 600;
}
.calendar__day {
  font-weight: 500;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(18, 20, 29, 0.8);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all 300ms;
}
.modal:target {
  opacity: 1;
  visibility: visible;
}
.modal__header {
  margin-bottom: 36px;
}
.modal__header .box .main-heading {
  margin-bottom: 16px;
}
.modal__header .box .text {
  font-size: 15px;
}
.modal__icon {
  position: absolute;
  top: 32px;
  right: 32px;
  cursor: pointer;
}
.modal__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  max-width: 560px;
  width: 100%;
  padding: 3.6rem 8rem;
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}
.modal__step-box {
  gap: 12px;
  margin-bottom: 36px;
}
.modal__step {
  position: relative;
  z-index: 2;
  padding: 13px;
  border-radius: 50%;
  background-color: #eff0f2;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.5;
}
.modal__step-text {
  font-size: 15px;
  font-weight: 500;
  line-height: 1.5;
}
.modal__dynamic-part {
  margin-bottom: 56px;
}
.modal__form {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.modal__label {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.modal__input {
  width: 100%;
  padding: 13px 16px;
  font-family: inherit;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.5;
  border: 1px solid #d4dae1;
  border-radius: 6px;
}
.modal__input::placeholder {
  font-family: inherit;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.5;
  color: #8b929a;
}
.modal__buttons-box {
  gap: 32px;
}
.modal__button {
  width: 100%;
  padding: 13px 0;
  color: #ff715b;
}
.modal__button.btn.btn--primary {
  text-align: center;
  color: #fff;
}

.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 24px;
}
.header__image {
  width: 100%;
  border-radius: 5px;
}

.navigation {
  position: fixed;
  z-index: 1001;
  flex: 0 0 6%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: 32px 20px;
  background-color: #12141d;
}
.navigation__nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.navigation__btn:link, .navigation__btn:visited {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1.5px solid #3a3c45;
  border-radius: 50%;
  color: #8b929a;
  transition: all 200ms;
  cursor: pointer;
}
.navigation__btn--active:link, .navigation__btn--active:visited {
  color: #12141d;
  background-color: #38f094;
}
.navigation__btn:hover, .navigation__btn:active {
  color: #12141d;
  background-color: #38f094;
}
.navigation__btn:not(:last-child) {
  margin-bottom: 24px;
}

#navigation__btn--first {
  position: relative;
  margin-bottom: 48px;
}
#navigation__btn--first:hover {
  background-color: transparent;
}
#navigation__btn--first::after {
  content: "";
  position: absolute;
  bottom: -24px;
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: #3a3c45;
}

#navigation__btn--last {
  position: relative;
  margin-top: 48px !important;
}
#navigation__btn--last::before {
  content: "";
  position: absolute;
  top: -24px;
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: #3a3c45;
}

#navigation__btn--menu {
  display: none;
}

.main-content {
  min-height: 100vh;
  padding: 0 44px 28px 44px;
}

.grid {
  display: grid;
}
.grid--large-gap {
  gap: 58px;
}
.grid--medium-gap {
  gap: 20px;
}
.grid--ultra-small-gap {
  gap: 1px;
}
.grid--one-column {
  grid-template-columns: 1fr;
}
.grid--two-column {
  grid-template-columns: repeat(2, 1fr);
}
.grid--three-column {
  grid-template-columns: repeat(3, 1fr);
}
.grid--four-column {
  grid-template-columns: repeat(4, 1fr);
}
.grid--five-column {
  grid-template-columns: repeat(5, 1fr);
}
.grid--six-column {
  grid-template-columns: repeat(6, 1fr);
}
.grid--seven-column {
  grid-template-columns: repeat(7, 1fr);
}
.grid--eight-column {
  grid-template-columns: repeat(8, 1fr);
}
.grid--two-rows {
  grid-template-rows: repeat(2, 1fr);
}
.grid--three-rows {
  grid-template-rows: repeat(3, 1fr);
}

.box {
  display: flex;
  width: 100%;
}
.box--gap-small {
  gap: 10px;
}
.box--gap-medium {
  gap: 24px;
}
.box--gap-icon-box {
  gap: 34px;
}
.box--column {
  flex-direction: column;
}
.box--baseline-align {
  align-items: baseline;
}
.box--vertical-align {
  align-items: center;
}
.box--justify-content-end {
  justify-content: flex-end;
}
.box--justify-content-space-beetwen {
  justify-content: space-between;
}
.box--padding-top {
  padding-top: 32px;
}

.home-page.header__box--padding {
  padding-bottom: 22px;
}
.home-page.header__box--images {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
}
.home-page.header__box--text {
  flex: 1;
}
.home-page.header__image--first {
  max-width: 96px;
  margin-right: -64px;
}
.home-page.header__image--second {
  max-width: 120px;
  margin-right: -64px;
}
.home-page.header__image--third {
  max-width: 196px;
}

.home-page__main-content {
  padding: 0 44px 28px 44px;
}

.favorits {
  flex: 0 0 25%;
  display: flex;
  flex-direction: column;
  padding: 40px 32px 0;
  background-color: #f7f8f9;
}
.favorits__box--pading {
  padding-bottom: 26px;
}

.details-page.header__box--relative {
  position: relative;
}
.details-page.header__box--padding {
  padding-bottom: 28px;
}
.details-page.header__btn {
  margin-right: 14px;
}
.details-page.header__image--second {
  position: absolute;
  bottom: -30px;
  left: 50px;
  max-width: 160px;
}

.details.box {
  padding-top: 86px;
}
.details.box > .box {
  padding-right: 80px;
  justify-content: space-between;
}

@media screen and (min-width: 1600px) {
  .heading-secondary--big-screen {
    font-size: 34px !important;
  }
}
@media screen and (max-width: 1440px) {
  html {
    font-size: 50% !important;
  }
}
@media screen and (max-width: 768px) {
  .container {
    position: relative;
    max-width: 420px;
  }
  .main-content {
    padding: 0 0 0 0 !important;
  }
  main {
    padding: 0 10px 64px 10px !important;
  }
  .navigation {
    bottom: 0 !important;
    max-width: 420px;
    width: 100%;
    height: auto !important;
    flex-direction: row !important;
    padding: 16px 20px !important;
  }
  .navigation__nav {
    flex-direction: row !important;
    width: 100%;
  }
  .navigation__btn {
    display: none !important;
  }
  .navigation__btn--first {
    display: flex !important;
    margin-bottom: 0 !important;
  }
  .navigation__btn--first::after {
    display: none !important;
  }
  .navigation__btn--menu {
    display: flex !important;
    margin: 0 !important;
  }
}
@media screen and (min-width: 1600px) and (min-width: 1600px) {
  .home-page.header__box--images--big-screen {
    flex: 0 0 35% !important;
  }
}
@media screen and (min-width: 1600px) and (min-width: 1600px) {
  .home-page.header__box--text--big-screen {
    flex: 0 0 65% !important;
  }
}
@media screen and (max-width: 1440px) {
  .home-page__main-content {
    padding: 0 10px 44px 10px;
    min-height: auto;
  }
  .home-page.box {
    flex-direction: column;
  }
  .home-page.header .home-page.header__box--images {
    margin-right: 20px;
  }
}
@media screen and (max-width: 1440px) and (max-width: 1000px) {
  .home-page.header .home-page.header__box--images {
    margin-right: 0;
  }
}
@media screen and (max-width: 1440px) {
  .home-page.header .home-page.header__box--images .header__image--first {
    max-width: 30%;
    min-width: 76px;
  }
}
@media screen and (max-width: 1440px) {
  .home-page.header .home-page.header__box--images .header__image--second {
    max-width: 35%;
  }
}
@media screen and (max-width: 1440px) {
  .home-page.header .home-page.header__box--images .header__image--third {
    max-width: 60%;
  }
}
@media screen and (max-width: 1440px) {
  .home-page.header .home-page.header__box--text .heading-secondary {
    font-size: 32px;
  }
}
@media screen and (max-width: 1440px) and (max-width: 1050px) {
  .home-page.header .home-page.header__box--text .heading-secondary {
    font-size: 24px;
  }
}
@media screen and (max-width: 1440px) {
  .home-page.main-heading {
    display: none;
  }
}
@media screen and (max-width: 1440px) {
  .search_panel {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 !important;
  }
  .search_panel__label, .search_panel__input {
    width: 100%;
  }
}
@media screen and (max-width: 1440px) {
  .favorits {
    flex: auto !important;
    padding: 40px 44px !important;
  }
  .favorits .box {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .favorits .box:last-child {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 0 !important;
  }
  .favorits .group-box .box {
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  .header .home-page.box {
    padding: 0 0 20px 0 !important;
  }
  .home-page.header__box--images {
    justify-content: center;
  }
  .home-page.header .box:nth-child(2) {
    flex-direction: column !important;
    text-align: center;
    gap: 20px;
  }
  .search_panel__input::placeholder {
    font-size: 12px;
  }
  .home-page.header__box--text .heading-secondary {
    font-size: 18px !important;
  }
  .home-page.header__box--text .text {
    font-size: 10px !important;
  }
  .new-artists {
    text-align: center;
  }
  .new-artists .grid {
    grid-template-columns: repeat(3, 1fr) !important;
    row-gap: 10px;
  }
  .popular {
    text-align: center;
  }
  .popular .grid {
    gap: 5px;
  }
  .favorits > .box:nth-child(2) {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr) !important;
  }
  .favorits {
    padding: 56px 0 20px 0 !important;
    background-color: #fff !important;
  }
}
@media screen and (max-width: 1440px) {
  .details.box {
    flex-direction: column;
  }
  .details.box > .box {
    padding-right: 0px;
    justify-content: space-between;
  }
  .details-page.header__image--second {
    max-width: 100px;
  }
  .details {
    padding-top: 56px;
  }
  .muso-details {
    max-width: 100%;
  }
  .details-page.gallery {
    padding-top: 56px !important;
    margin: 0;
  }
  .details-page.gallery .grid {
    gap: 22px;
  }
}
@media screen and (max-width: 768px) {
  .details-page.header__image--second {
    max-width: 70px;
    left: 20px;
  }
  .about > .box {
    flex-direction: column;
    gap: 20px;
  }
  .about > .box .btn--primary {
    min-width: 100%;
    padding: 15px 73px;
    text-align: center;
  }
  .about > .box .box:last-child {
    justify-content: space-between;
  }
  .about > .text {
    font-size: 12px;
  }
  .details-page.gallery {
    padding-bottom: 20px;
  }
  .details-page.gallery .grid {
    gap: 5px;
  }
}
@media screen and (max-width: 1440px) {
  .calendar__cell .box {
    position: static;
    transform: none;
  }
}
@media screen and (max-width: 768px) {
  .date-picker {
    padding: 15px 45px;
    font-size: 12px;
  }
  .calendar__title {
    font-size: 8px;
  }
  .calendar__date {
    font-size: 7px;
    max-width: 33px !important;
  }
  .calendar {
    padding-bottom: 90px;
  }
  .calendar__month {
    border-radius: 0;
    border-right: 1px solid #d4dae1;
  }
  .calendar__month:nth-child(1) {
    margin-left: -1px;
  }
  .calendar__month:nth-child(7) {
    border: 0;
  }
  .calendar__cell {
    border: 0;
    border: 1px solid #d4dae1;
    margin-bottom: -1px;
    margin-left: -1px;
    border-radius: 0;
    padding: 10px 0;
  }
  .calendar__cell::after {
    display: none;
  }
  .calendar__day, .calendar__title, .calendar__date {
    margin: 0 auto;
  }
  .calendar__date {
    max-width: 50px;
    line-height: 1.3;
  }
  .calendar.grid {
    gap: 0;
    grid-template-columns: repeat(7, 14.2857142857%);
  }
}
@media screen and (max-width: 1440px) {
  .modal__content {
    max-width: 460px;
    padding: 16px 40px;
  }
  .modal__header {
    text-align: center;
  }
  .modal__dynamic-part {
    margin-bottom: 36px;
  }
}
@media screen and (max-width: 1440px) {
  .modal__content {
    height: auto;
    border-radius: 16px;
    max-width: 420px;
    padding: 16px 40px;
    overflow-y: auto;
  }
  .modal__header {
    text-align: center;
    font-size: 25px;
  }
  .modal__header .main-heading {
    font-size: 22px;
  }
  .modal__header .text {
    font-size: 13px !important;
  }
  .modal__form {
    gap: 14px;
  }
  .modal__label .text {
    font-size: 12px;
  }
  .modal__input {
    padding: 8px 16px;
  }
  .modal__dynamic-part {
    margin-bottom: 36px;
  }
}
@media screen and (max-width: 768px) {
  .modal__content {
    height: 100%;
    border-radius: 0;
  }
}

/*# sourceMappingURL=style.css.map */
