.btn {
  display: inline-block;

  &:link,
  :visited {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
  }

  &--primary {
    padding: 13px 103px;
    border-radius: 6px;
    background-color: $color-main-coral;
  }

  &--color-white {
    color: #fff !important;
  }
  &--color-grey {
    color: $color-grey-3 !important;
  }
}
