.date-picker {
  position: relative;
  padding: 10px 60px;
  border: 1px solid $color-grey-light-1;
  border-radius: 6px;

  &__icon {
    &--right,
    &--left {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      cursor: pointer;
    }

    &--right {
      right: 17px;
    }

    &--left {
      left: 17px;
    }
  }
}
