.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba($color-modal-background, 0.8);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all 300ms;

  &:target {
    opacity: 1;
    visibility: visible;
  }

  &__header {
    margin-bottom: 36px;

    .box {
      .main-heading {
        margin-bottom: 16px;
      }
      .text {
        font-size: 15px;
      }
    }
  }

  &__icon {
    position: absolute;
    top: 32px;
    right: 32px;
    cursor: pointer;
  }

  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    max-width: 560px;
    width: 100%;
    padding: 3.6rem 8rem;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 20px 40px rgba(#000, 0.2);
  }

  &__step-box {
    gap: 12px;
    margin-bottom: 36px;
  }

  &__step {
    position: relative;
    z-index: 2;
    padding: 13px;
    border-radius: 50%;
    background-color: $color-grey-light-2;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.5;
  }

  &__step-text {
    font-size: 15px;
    font-weight: 500;
    line-height: 1.5;
  }

  &__dynamic-part {
    margin-bottom: 56px;
  }

  //!FORM
  &__form {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__label {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__input {
    width: 100%;
    padding: 13px 16px;
    font-family: inherit;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.5;
    border: 1px solid $color-grey-light-1;
    border-radius: 6px;

    &::placeholder {
      font-family: inherit;
      font-size: 15px;
      font-weight: 500;
      line-height: 1.5;
      color: $color-grey-3;
    }
  }

  &__buttons-box {
    gap: 32px;
  }

  &__button {
    width: 100%;
    padding: 13px 0;
    color: $color-main-coral;

    &.btn.btn--primary {
      text-align: center;
      color: #fff;
    }
  }
}
