/* 
   !Default setup
*/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1;
  overflow-x: hidden;
  background-color: #fcfcfd;
}

main {
  padding-left: 80px;
  background-color: #fff;
}

img {
  display: block;
}
