.main-heading {
  font-size: 32px;
  font-weight: 500;
  line-height: 1.31;

  span {
    display: block;
  }
}

.heading-secondary {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.33;

  span {
    display: block;
  }
}

.text {
  font-size: 14px;
  line-height: 1.5;

  &--no-wrap {
    white-space: nowrap;
  }

  &--font-weight-medium {
    font-weight: 500;
  }

  &--font-medium-large {
    font-weight: 600;
  }

  &--font-weight-large {
    font-weight: 700;
  }

  &--font-size-small {
    font-size: 12px;
  }

  &--font-size-large {
    font-size: 18px;
  }

  &--color-grey-2 {
    color: $color-grey-2;
  }
  &--color-grey-3 {
    color: $color-grey-3;
  }
}
