.container {
  display: flex;
  max-width: 144rem;
  width: 100%;
  margin: 0 auto;
}

.margin-bottom-small {
  margin-bottom: 0.4rem;
}
.margin-bottom-medium {
  margin-bottom: 1.6rem !important;
}
.margin-bottom-large {
  margin-bottom: 2.4rem;
}

.margin-right-auto {
  margin-right: auto;
}

.margin-left-auto {
  margin-left: auto;
}

.section {
  padding-top: $section-padding-top;
}

.border-bottom {
  border-bottom: 1px solid $color-grey-1;
}
