.details-page.header {
  &__box--relative {
    position: relative;
  }

  &__box--padding {
    padding-bottom: 28px;
  }

  &__btn {
    margin-right: 14px;
  }

  &__image {
    &--second {
      position: absolute;
      bottom: -30px;
      left: 50px;

      max-width: 160px;
    }
  }
}

.details.box {
  padding-top: 86px;
  & > .box {
    padding-right: 80px;
    justify-content: space-between;
  }
}

.details-page.gallery {
}
